#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        // Create a macro for the bluetooth clear
        bt_clear_macro: bt_clear_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR_ALL>;
        };
    };
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>; // Prevents accidental repeats
            flavor = "tap-preferred"; // Ensures fast typing doesn't accidentally trigger Hold action
            bindings = <&kp>, <&kp>; // Hold action, then Tap action
        };
        pt: pair_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "PAIR_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <5000>;
            quick-tap-ms = <0>; // Prevents accidental repeats
            flavor = "tap-preferred"; // Ensures fast typing doesn't accidentally trigger Hold action
            bindings = <&bt_clear_macro>, <&kp>; // Hold action, then Tap action
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &ht F13 F13  &ht F14 F14  &ht F15 F15
                &ht F16 F16  &ht F17 F17  &ht F18 F18
                &lht 0 F19  &ht F20 F20  &ht F21 F21
                &kp F22  &ht F23 F23  &ht SPACE F24
            >;
        };
    };
};
