#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_bt_clr_all {
            timeout-ms = <50>;
            key-positions = <9 11>; // * #
            bindings = <&bt BT_CLR_ALL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp LC(LS(F1))  &kp LC(LS(F2))  &kp LC(LS(F3))
                &kp LC(LS(F4))  &kp LC(LS(F5))  &kp LC(LS(F6))
                &kp LC(LS(F7))  &kp LC(LS(F8))  &kp LC(LS(F9))
                &kp LC(LS(F10))  &kp LC(LS(F11))  &kp LC(LS(F12))
            >;
        };
    };
};
